@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SickDiary</h1>
    <p><a asp-action="Register" asp-controller="Home">Register</a> | <a asp-action="Login" asp-controller="Home">Login</a> | <a asp-action="CreateRecord" asp-controller="Diary">Add Daily Record</a></p>
</div>



@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SickDiary</h1>
    <p><a asp-action="Register">Register</a> | <a asp-action="Login">Login</a></p>
</div> *@




@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@